# SPDX-FileCopyrightText: 2022 localthomas
# SPDX-License-Identifier: MIT OR Apache-2.0

# ignore build outputs
/target
/result

# ignore automatically created license file
license.html

# ignore VSCode settings
/.vscode
